@use '../util/colors.scss' as *;

.header {
	position: relative;
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 2em 4em;
	text-align: center;
	color: $white;
	font-size: 1.6rem;
	background-image: linear-gradient(
		to top,
		$primaryColor 0%,
		$secondaryColor 100%
	);

	&-coins--left,
	&-coins--right {
		display: none;
		position: absolute;
		top: 40%;
		width: 14rem;
		height: 14rem;
		animation: bounce 4s infinite;
	}

	&-coins--left {
		left: 17%;
	}
	&-coins--right {
		right: 17%;
	}

	background-size: cover;
	background-position: center;
	z-index: 1;

	h1 {
		font-size: 4rem;
		font-weight: bold;
		text-transform: uppercase;
	}

	.gradient {
		color: transparent;
		background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
		background-clip: text;
	}

	p {
		margin: 1em 0;
		font-size: 1.8rem;
	}

	a {
		display: inline-block;
		width: 70%;
		margin: 0 auto;
		margin-top: 1em;
		padding: 0.7em 1.4em;
		font-size: 2.4rem;
		font-weight: bold;
		text-decoration: none;
		background-color: $gold;
		color: #000;
		transition: color 0.3s, background-color 0.3s;
		border-radius: 0.8rem;
		border: none;
		cursor: pointer;

		&:hover {
			background-color: #000;
			color: $gold;
		}
	}

	svg {
		position: absolute;
		color: rgb(151, 19, 145);
		z-index: -1;
	}

	.coin-icon {
		bottom: 14%;
		left: -22%;
		width: 32rem;
		height: 32rem;
		animation: spin-right 40s infinite;
	}

	.bitcoin-icon {
		top: 100%;
		right: 12%;
		width: 12rem;
		height: 12rem;
		animation: spin-left 120s infinite;
	}

	.popular-crypto {
		display: flex;
		justify-content: space-between;
		margin: 8em 0;

		@media (max-width: 996px) {
			display: none;
		}
	}
}

@media (min-width: 768px) {
	.header {
		h1 {
			font-size: 6rem;
			margin-bottom: 0.5em;
		}
		p {
			font-size: 2.4rem;
			margin-bottom: 2em;
		}
		.coin-icon {
			left: -22%;
			width: 60rem;
			height: 60rem;
		}

		.bitcoin-icon {
			top: 12%;
			right: 12%;
			width: 22rem;
			height: 22rem;
			animation: spin-left 120s infinite;
		}
	}
}

@media (min-width: 996px) {
	.header {
		align-items: start;
		height: auto;
		h1 {
			margin-top: 3em;
		}

		.bitcoin-icon {
			top: 12%;
			right: 12%;
		}

		.coin-icon,
		.bitcoin-icon {
			display: none;
		}

		a {
			width: 25%;
		}
		&-coins--left,
		&-coins--right {
			display: block;
		}
	}
}
@media (min-width: 1200px) {
	.header {
		h1 {
			margin-top: 2em;
			padding: 0 2em;
			font-size: 8.2rem;
		}
		&-coins--left,
		&-coins--right {
			top: 25%;
		}
	}
}

@keyframes spin-right {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes spin-left {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(4rem);
	}
	100% {
		transform: translateY(0);
	}
}
