@use '../util/colors.scss' as *;

.calculator {
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.6rem;
	padding: 2.2em;

	.calc {
		padding: 2em;
		background-color: #222;
		border-radius: 1rem;
		box-shadow: 0 0 10px #000;

		&__amount,
		&__box-select {
			width: 100%;
			padding: 0.5em;
			font-size: 2rem;
			font-weight: bold;
			border-radius: 1rem;
		}

		&__amount {
			text-align: center;
		}

		&__box {
			display: flex;
			flex-direction: column;
			margin-top: 2.5em;

			&-select {
				width: 100%;
				margin: 1.5em 0;
				border-radius: 1rem;

				option {
					padding: 1em;
				}
			}

			&-btn {
				display: block;
				width: 20%;
				margin: 0 auto;
				cursor: pointer;
			}
		}

		&__result {
			visibility: hidden;
		}

		&__result--show {
			visibility: visible;
			color: $white;
		}
	}
}

@media (min-width: 996px) {
	.calculator {
		.calc {
			width: 50rem;
			&__box {
				flex-direction: row;
				justify-content: space-around;
				align-items: center;

				&-select {
					width: 30%;
				}

				&-btn {
					margin: 0 1em;
				}
			}

			&__result--show,
			&__result {
				margin: 0.5em;
				font-size: 2.2rem;
				text-align: center;
			}
		}
	}
}
