@use './util/colors.scss' as *;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: monospace;
	scroll-behavior: smooth;
}

body {
	background-color: $primaryColor;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	z-index: 3;
}

.bg-shadow {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.6);
	z-index: -1;
}

.red-text {
	color: rgb(204, 29, 29);
}

.green-text {
	color: rgb(34, 211, 34);
}

section {
	padding: 2em 0;
	font-size: 1.6rem;

	h2 {
		text-align: center;
		color: $white;
		font-size: 5rem;
		text-transform: uppercase;

		hr {
			margin: 0.2em auto;
			width: 90%;
			height: 0.3rem;
			background-color: $gold;
		}
	}
}
