@use './util/colors.scss' as *;

.header {
	position: relative;
	display: flex;
	align-items: center;
	height: 100vh;
	padding: 2em 4em;
	text-align: center;
	color: $white;
	background-image: linear-gradient(
		to top,
		$primaryColor 0%,
		$secondaryColor 100%
	);
	// background-image: url('../public//img/bitcoin-2007769_640.jpg');
	background-size: cover;
	background-position: center;
	z-index: -2;

	h1 {
		font-size: 3.6rem;
		font-weight: bold;
		text-transform: uppercase;
	}

	span {
		color: transparent;
		background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
		background-clip: text;
	}

	p {
		margin: 1em 0;
		font-size: 1.6rem;
	}

	button {
		width: 70%;
		margin-top: 1em;
		padding: 0.7em 1.4em;
		font-size: 2rem;
		background-color: $gold;
		border-radius: 0.8rem;
		border: none;
		cursor: pointer;
	}

	svg {
		position: absolute;
		color: rgb(151, 19, 145);
		z-index: -1;
	}

	.coin-icon {
		bottom: 14%;
		left: -22%;
		width: 22rem;
		height: 22rem;
		animation: spin-right 40s infinite;
	}

	.bitcoin-icon {
		top: 12%;
		right: 12%;
		width: 9rem;
		height: 9rem;
		animation: spin-left 120s infinite;
	}
}

@media (min-width: 768px) {
	.header {
		h1 {
			font-size: 4.8rem;
			margin-bottom: 0.5em;
		}
		p {
			font-size: 2rem;
			margin-bottom: 2em;
		}
		.coin-icon {
			left: -8%;
			width: 30rem;
			height: 30rem;
		}

		.bitcoin-icon {
			top: 12%;
			right: 12%;
			width: 16rem;
			height: 16rem;
			animation: spin-left 120s infinite;
		}
	}
}

@media (min-width: 996px) {
	.header {
		height: 60vh;

		.coin-icon,
		.bitcoin-icon {
			display: none;
		}
	}
}

@keyframes spin-right {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes spin-left {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
