@use './util/colors.scss' as *;

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $secondaryColor;
}

.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1.5em 2em;

	ul {
		display: flex;
		flex-direction: row;
		li {
			margin: 0 1.5em;
			list-style: none;

			a {
				font-size: 1.8rem;
				color: $white;
				text-decoration: none;

				&:hover {
					color: $goldDark;
				}
			}
		}

		@media (max-width: 996px) {
			position: absolute;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			left: 0;
			top: 0;
			transform: translateY(-101%);
			width: 100vw;
			height: 100vh;
			background-color: $secondaryColor;
			transition: transform 0.7s;

			li {
				width: 60%;
				margin: 1em 0;
				padding-bottom: 1em;
				border-bottom: 2px solid $gold;
				text-align: center;
				a {
					font-size: 2.4rem;
					padding: 1em;
				}
			}
		}
	}
	menu {
		display: none;
		padding: 1em;
		color: $white;
		cursor: pointer;

		svg {
			width: 3.4rem;
			height: 3.4rem;
		}

		@media (max-width: 996px) {
			display: block;
			z-index: 10;
		}
	}

	@media (max-width: 996px) {
		height: 60px;
	}
}

.logo {
	text-decoration: none;
	font-size: 2.4rem;
	font-weight: bold;
	color: #ebcc21;
	cursor: pointer;

	&:hover {
		color: $gold;
	}
}

// Todo: fix the important
.mobile-open {
	transform: translateY(0) !important;
}
