$primaryColor: #2e0847;
$primaryColorHover: #4d0c79;
$secondaryColor: #1d1186;
$secondSectionColor: #25033b;
$white: #fff;
$gold: #ffd700;
$goldDark: #c2a91a;
$PBGradient: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
